
$pane-margin: 20px;

#profile-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


  #left-pane {
    margin: 0 $pane-margin;

    .mat-card {
      width: 300px;
      height: 400px;
      transform: translateY(90px);
    }

    .mat-card-content {

      #image-container {
        position: absolute;
        transform: translateY(-90px);
        display: flex;
        width: 100%;
        margin: -16px;
        // border: 2px solid black;

        img {
          width: 60%;
          height: 60%;
          margin: 0 auto;
          border-radius: 100%;
        }
      }


    }

  }


  #right-pane {
    margin: 0 $pane-margin;

    .mat-card {
      width: 500px;
    }

  }

}
