
<div id="profile-content">
<!-- content -->

  <div id="left-pane">

    <mat-card id="main-card">
      <mat-card-content>

        <div id="image-container">
          <img src="{{ user?.avatar }}" alt="UCHIHA GOD MADARA">
        </div>

        <div id="my-rating">
          <div>
            <ngbd-rating-decimal [currentRate]="user2.rating"></ngbd-rating-decimal>
          </div>
          <h3>{{ user2.rating }}</h3>
        </div>

        <div id="my-bookings">
          <h4>Recent Bookings</h4>
          <mat-divider></mat-divider>

          <div *ngFor="let book of userBookings | async">
            <mat-card *ngFor="let valve of book?.books"  [class.mat-elevation-z5]>
              <mat-card-content>

                <p><strong>Mode of payment: </strong>{{ valve?.modes_of_payment }}</p>
                <p><strong>My rating: </strong>{{ valve?.own_rating }}</p>
                <p><strong>Days rented: </strong>{{ valve?.num_days_rented }} days</p>
                <p><strong>Rent per day: </strong>{{ valve?.rent_per_day }} AUD</p>
                <p><strong>Total rent: </strong>{{ valve?.total_rent }} AUD</p>
              </mat-card-content>
            </mat-card>
          </div>

        </div>

      </mat-card-content>
    </mat-card>

  </div>

  <div id="right-pane">
    <mat-card>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </mat-card-content>
    </mat-card>
  </div>

<!-- content -->
</div>
