
$pane-margin: 20px;

#profile-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


  #left-pane {
    margin: 0 $pane-margin;

    #main-card {
      width: 300px;
      height: 400px;
      transform: translateY(90px);
    }

    .mat-card-content {

      #image-container {
        position: absolute;
        transform: translateY(-90px);
        display: flex;
        width: 100%;
        margin: -16px;

        img {
          width: 60%;
          height: 60%;
          margin: 0 auto;
          border-radius: 100%;
        }
      }

      #my-rating {
        text-align: center;
        transform: translateY(70px);
      }

      #my-bookings {
        transform: translateY(80px);
        p { margin: 0; }

        & > div > .mat-card {
          margin-top: 20px;
        }
      }

    }
  }


  #right-pane {
    margin: 0 $pane-margin;

    .mat-card {
      width: 500px;
    }

  }

}
