
<mat-sidenav-container>

  <mat-sidenav #sidenav mdoe="'push'">
    <app-sidenav (click)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>
      <mat-toolbar>
        <div class="container">
          <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span (click)="toHome()">Canstar</span>

            <button mat-icon-button id="profile-button" [matMenuTriggerFor]="posXMenu" aria-label="Open x-positioned menu">
              <img src="{{ image }}" alt="">
            </button>
          </mat-toolbar>
        </div>
      </mat-toolbar>
    </mat-toolbar>

    <div data-simplebar>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


<mat-menu xPosition="before" #posXMenu="matMenu">
  <button mat-menu-item (click)="navigate('profile')">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="auth.signOut()">
    <mat-icon>power_settings_new</mat-icon>
    Sign out
  </button>
</mat-menu>
